---
import IconChevronsRight from '~/icons/chevrons-right.svg'
import type { CollectionEntry } from 'astro:content'
import { render } from 'astro:content'
import Tags from '~/components/Tags.astro'
import PostInfo from '~/components/PostInfo.astro'
import type { Collation } from '~/types'
import { TagsGroup } from '~/utils'

interface Props {
  post: CollectionEntry<'posts'>
}

const { post } = Astro.props

const { remarkPluginFrontmatter } = await render(post)
const description = remarkPluginFrontmatter.description || post.data.description
let tags: Collation<'posts'>[] | undefined
if (post.data.tags && post.data.tags.length > 0) {
  const tagsGroup = await TagsGroup.build()
  tags = tagsGroup.matchMany(post.data.tags)
}
const samePage = Astro.url.pathname === `/blog/posts/${post.id}`
const articleLink = samePage ? `#${post.id}` : `/blog/posts/${post.id}`
---

<article class='w-full py-1 my-1 md:my-4 border-accent/10'>
  <a href={articleLink}>
    <h1 class='mb-3 text-2xl text-heading1 font-semibold'>
      <p># {post.data.title}</p>
    </h1>
  </a>
  <PostInfo
    post={post}
    class='mb-3 mt-4'
  />
  <a href={articleLink}>
    {description && <p class='pl-0.5 my-4 text-base/7 text-foreground'>{description}</p>}
  </a>
  {
    tags && (
      <div class='mb-6'>
        <Tags tags={tags} />
      </div>
    )
  }
</article>
